<?xml version="1.0"?>

<launch>

    <!-- World File -->
    <!-- Specify Gazebo world -->
    <!-- List of worlds: $(find jackal_gazebo)/worlds/jackal_race.world
                         $(find jackal_gazebo_simulations)/worlds/office_env_large.world
                         $(find turtlebot3_gazebo)/worlds/turtlebot3_house/world
                         -->
    <arg name="world_file" default="$(find turtlebot3_gazebo)/worlds/turtlebot3_house.world"/>
    <!-- Robot pose at initialization in the world-->
    <arg name="x" default="-2"/>
    <arg name="y" default="1"/>
    <arg name="z" default="0"/>
    <arg name="roll" default="0"/>
    <arg name="pitch" default="0"/>
    <arg name="yaw" default="0"/>

    <!-- Launch Gazebo World -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_file)"/>
        <arg name="use_sim_time" value="true" />
        <arg name="debug" value="false"/>
        <arg name="gui" value="true"/>
        <arg name="paused" value="false"/>
        <arg name="recording" value="false"/>

    </include>

    <!-- Launch Jackal control allow other teleop publish to /cmd_vel-->
    <include file="$(find jackal_control)/launch/control.launch" />

    <!-- Spawn robot-->
    <!-- Parameters for spawning robot using urdf-->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find jackal_gazebo_simulations)/urdf/jackal_ouster.urdf.xacro"/>

    <!-- Spawn Jackal with sensor(s)-->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model jackal_ouster -param robot_description
               -x $(arg x) -y $(arg y) -z $(arg z)
               -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">

    </node>

    <!-- Launch Rviz-->
    <!-- "-d" command meaning load a display config file (.rviz)-->
    <!-- node name="rviz" pkg="rviz" type="rviz" arg="-d $(find jackal_gazebo_simulations)/rviz/default.rviz" respawn="false"/ -->


</launch>
